files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -Dspring.profiles.active=main -jar $JAR_PATH

files:
    "/sbin/mkdirlog":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          #!/bin/bash
          mkdir -p /var/log/tomcat
