files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -Dspring.profiles.active=main -jar $JAR_PATH

    "/opt/elasticbeanstalk/tasks/taillogs.d/applogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/log/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf":
          mode: "000755"
          owner: webapp
          group: webapp
          content: |
            /var/app/current/logs/log/*.log

    "/opt/elasticbeanstalk/tasks/taillogs.d/dblogs.conf":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
          /var/app/current/logs/db/*.log

    "/opt/elasticbeanstalk/tasks/bundlelogs.d/dblogs.conf":
          mode: "000755"
          owner: webapp
          group: webapp
          content: |
            /var/app/current/logs/db/*.log
