commands:
  create_post_dir:
    command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01-run-script.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      rm /etc/localtime
      ln -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
