spring:
  datasource:
    url: jdbc:h2:~/test;MODE=MySQL;MODE=MySQL
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080
